--always-auth
@frankmerema:registry=http://merema.ddns.net:4873
//merema.ddns.net:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6eyJuYW1lIjoiZnJhbmttZXJlbWEiLCJncm91cHMiOlsiZnJhbmttZXJlbWEiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwicmVhbF9ncm91cHMiOlsiZnJhbmttZXJlbWEiXX0sIm5hbWUiOiJmcmFua21lcmVtYSIsImdyb3VwcyI6WyIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLHsibmFtZSI6ImZyYW5rbWVyZW1hIiwiZ3JvdXBzIjpbImZyYW5rbWVyZW1hIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sInJlYWxfZ3JvdXBzIjpbImZyYW5rbWVyZW1hIl19XSwiaWF0IjoxNTY0NDY5MDc3LCJuYmYiOjE1NjQ0NjkwNzgsImV4cCI6MTU2OTY1MzA3N30.8rhOb8fOzeZN8gPa5xCeYW0N-hBkkon5UBXYqmEjgG4
